/* Comiendo de Proyecto UPDT Html */
.containerForm {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .containerForm__articleForm {
    width: 45%; }
    @media screen and (max-width: 600px) {
      .containerForm__articleForm {
        width: 80%; } }
  @media screen and (max-width: 600px) {
    .containerForm {
      flex-direction: column; } }

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; }

p .descripcionParrafo {
  overflow: visible; }

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #45a049; }

.containerProveedores {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px; }

section:target p {
  max-height: 120px;
  padding: 10px; }

.mobileFirstMenu {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  /* @media screen and (max-width: 600px) {
        flex-direction: column;
        list-style: none;
    } */ }

header {
  margin: 0 auto; }

.containerHeaderUPDT {
  text-align: left !important;
  display: flex;
  background: #a99875;
  background: -moz-linear-gradient(0deg, #a99875 0%, #b8a57c 4%, #c2ad80 11%, #c4af81 18%, #c6b082 30%, #d3c29f 63%, #d3c29f 100%);
  background: -webkit-linear-gradient(0deg, #a99875 0%, #b8a57c 4%, #c2ad80 11%, #c4af81 18%, #c6b082 30%, #d3c29f 63%, #d3c29f 100%);
  background: linear-gradient(0deg, #a99875 0%, #b8a57c 4%, #c2ad80 11%, #c4af81 18%, #c6b082 30%, #d3c29f 63%, #d3c29f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a99875",endColorstr="#d3c29f",GradientType=1);
  justify-content: center;
  width: 100%; }

.tracking-in-contract-bck-top {
  -webkit-animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract-bck-top 1s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

.logoUPDT {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  background: none; }

.mainMenu {
  margin-top: 8px;
  display: flex;
  align-items: center;
  padding-left: 0;
  width: 40%;
  list-style: none;
  /* @media screen and (max-width: 600px) {
        width: 89%;
    } */ }

.sinBackground {
  background: none !important; }

nav {
  display: flex;
  justify-content: center;
  align-items: center; }

.mainMenu li > a {
  color: black;
  display: block;
  text-decoration: none;
  min-width: 100px;
  border: 0px;
  margin: 0px;
  font-size: 2.0rem;
  background: #e1c147;
  background: -moz-linear-gradient(135deg, #e1c147 4%, #d87c7f 52%, #cd25c7 98%);
  background: -webkit-linear-gradient(135deg, #e1c147 4%, #d87c7f 52%, #cd25c7 98%);
  background: linear-gradient(135deg, #e1c147 4%, #d87c7f 52%, #cd25c7 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e1c147",endColorstr="#cd25c7",GradientType=1);
  border-radius: 9%;
  padding: 0.4rem; }

.mainMenu > li {
  float: left;
  text-align: center;
  list-style: none; }

.widthNavegador {
  width: 100%; }
  @media screen and (max-width: 991px) {
    .widthNavegador {
      display: none; } }

.menuMobile {
  width: 100%; }
  @media screen and (min-width: 991px) {
    .menuMobile {
      display: none; } }

.imagenMenuHamburguesa {
  width: 28px;
  display: flex;
  justify-content: start;
  background: transparent; }

.designMenuHamburguesa {
  width: 100%;
  background: transparent !important; }

.mobileFirstParrafoFooter {
  margin-bottom: 0; }
  @media screen and (max-width: 600px) {
    .mobileFirstParrafoFooter {
      display: none; } }

.footer {
  background: #a99875;
  background: -moz-linear-gradient(0deg, #a99875 0%, #b8a57c 4%, #c2ad80 11%, #c4af81 18%, #c6b082 30%, #d3c29f 63%, #d3c29f 100%);
  background: -webkit-linear-gradient(0deg, #a99875 0%, #b8a57c 4%, #c2ad80 11%, #c4af81 18%, #c6b082 30%, #d3c29f 63%, #d3c29f 100%);
  background: linear-gradient(0deg, #a99875 0%, #b8a57c 4%, #c2ad80 11%, #c4af81 18%, #c6b082 30%, #d3c29f 63%, #d3c29f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a99875",endColorstr="#d3c29f",GradientType=1);
  background-size: cover;
  bottom: 0 !important;
  display: flex;
  justify-content: space-evenly;
  width: 100%; }
  .footer__footerList {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 1rem;
    padding-left: 0; }
    .footer__footerList__elementoLista__hipervinculoFooter {
      text-decoration: none;
      margin: 2rem;
      color: black;
      font-size: 2rem; }
    .footer__footerList__elementoLista__imagenFooter {
      height: 2rem;
      width: 2rem; }

.mobileFirstTitulo {
  display: flex;
  justify-content: center;
  padding: 2rem; }
  @media screen and (max-width: 600px) {
    .mobileFirstTitulo {
      width: 100%;
      display: none; } }

main section h2 {
  border-top: black; }

section {
  font-size: 1.5rem;
  text-align: center; }

.carrucelCenter {
  display: flex;
  justify-content: center;
  align-items: center; }

.carrucelMain {
  width: 30%; }

.estoEsGrid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 150px 150px; }

/* Acordeon */
.containerProductosVariados {
  box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.5); }

.acordeon_Productos image {
  overflow: hidden;
  max-height: 0;
  text-align: justify;
  font-family: "Courier New", Courier, monospace;
  background: #e4e4e4;
  transition: all 0.2s ease-in; }

section a {
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 10px;
  font-family: "Courier New", Courier, monospace;
  background-color: #ffbe74;
  border-bottom: 2px solid gray;
  color: white;
  text-align: center; }

.accordionHardStyles {
  width: 100%;
  display: flex;
  justify-content: center; }

.accordionSize {
  width: 85%; }

/* Productos del Acordeon */
.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.card {
  margin: 40px;
  position: relative;
  max-width: 250px;
  max-height: 350px;
  box-shadow: 0 40px 60px -6px black; }

.card-title {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #6184a8;
  padding: 2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px; }

.card img {
  width: 100%;
  height: 98%;
  object-fit: cover;
  display: block;
  position: relative; }

.card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  overflow-y: scroll;
  transition: 0.8s ease; }

.card:hover .card-desc {
  opacity: 1;
  height: 100%; }

/* .operaciones1 {
    width: $ancho;
    height: $ancho/2;
}

.operaciones2 {
    width: $ancho*2;
}

$ancho: 680px */
* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif !important; }

html {
  font-size: 62.5%; }

body {
  background-image: url("/Imagenes/Backgrounds/herringbone.png") !important;
  background-repeat: repeat;
  height: 100%vh; }

/* Inicio de header */
/* MenuPrincipal */
/* Main Comienzo */
/* Acordeon productos */
/* Productos del acordeon */
/* Comienzo de seccion de contacto */
/* Comienzo seccion de Nosotros */
/* Comienzo del Footer */
/* Comienzo de Keyframes */
@-webkit-keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
    transform: translateZ(400px) translateY(-300px);
    opacity: 0; }
  40% {
    opacity: 0.6; }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1; } }

@media only screen and (max-width: 480px) {
  .tituloUPDT {
    background-color: #ffffff; } }
