
/* Comiendo de Proyecto UPDT Html */

@import "formularios";
@import "header";
@import "footer";
@import "main";
@import "acordeonProductos";
@import "Operaciones";

*{
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif !important;
}
html {
    font-size: 62.5%;
}
body {
    background-image: url("/Imagenes/Backgrounds/herringbone.png") !important;
    background-repeat: repeat;
    height: 100%vh;
}


/* Inicio de header */



/* MenuPrincipal */



/* Main Comienzo */



/* Acordeon productos */



/* Productos del acordeon */



/* Comienzo de seccion de contacto */



/* Comienzo seccion de Nosotros */



/* Comienzo del Footer */



/* Comienzo de Keyframes */


@-webkit-keyframes tracking-in-contract-bck-top {
    0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
    }
}
@keyframes tracking-in-contract-bck-top {
    0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px) translateY(-300px);
            transform: translateZ(400px) translateY(-300px);
    opacity: 0;
    }
    40% {
    opacity: 0.6;
    }
    100% {
    -webkit-transform: translateZ(0) translateY(0);
            transform: translateZ(0) translateY(0);
    opacity: 1;
    }
}
@media only screen and (max-width: 480px) {
    .tituloUPDT {
            background-color: #ffffff;
    }
}